@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf") format("woff2");
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf") format("woff2");
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf") format("woff2");
}
body {
  background-color: red;
  font-family: "Avenir";
}

.heading1 {
  font-size: clamp(1.5rem, 1rem + 2.5vw, 3.75rem);
  line-height: clamp(2rem, 1rem + 2.5vw, 4.25rem);
  font-weight: 700;
}

.labels {
  font-size: clamp(0.625rem, 2vw, 0.75rem);
  line-height: clamp(1.25rem, 0.5rem + 2vw, 1.25rem);
  font-weight: 700;
}