@use "functions" as f;

@font-face {
    font-family: "Avenir";
    src: url("../../assets/font/AvenirNextLTPro-Bold.otf") format("woff2");
    src: url("../../assets/font/AvenirNextLTPro-Demi.otf") format("woff2");
    src: url("../../assets/font/AvenirNextLTPro-Regular.otf") format("woff2");
}

// Font Family
    $font: "Avenir", sans-serif;

// Font weight
    $font-bold: bold;
    $font-demi: 600;
    $font-reg: normal;

// Font Size
    $font-2xl: f.px-to-rem(60);
    $font-xl: f.px-to-rem(36);
    $font-l: f.px-to-rem(24);
    $font-m: f.px-to-rem(14);
    $font-s: f.px-to-rem(13); 
    $font-xs: f.px-to-rem(12);
    $font-xxs: f.px-to-rem(10);
    
// Line Height 
    $lineH-xl: f.px-to-rem(68);
    $lineH-l: f.px-to-rem(44);
    $lineH-m: f.px-to-rem(32);
    $lineH-s: f.px-to-rem(22);
    $lineH-xs: f.px-to-rem(20);
    $lineH-xxs: f.px-to-rem(18);

//Calculates preferred font size and line height for clamp function
    $font-prefer: calc(1rem + 2.5vw);
    $height-prefer: calc(1rem + 2.5vw);


// Typography 
    @mixin type-kit ($fontSize-min, $font-preferred, $fontSize-max, $height-min, $height-preffered, $height-max, $weight){

        // Clamp function calculates fluid typography
        font-size: clamp($fontSize-min, $font-preferred, $fontSize-max);

        line-height: clamp($height-min, $height-preffered, $height-max);

        font-weight: $weight;
    }

// Page Header Mobile to Desktop
    @mixin page-header {
        @include type-kit ($font-l, 4.5vw, $font-2xl, $lineH-m, calc(1rem + 2.5vw), $lineH-xl, $font-bold)
    }

// Section Header Mobile to Desktop
    @mixin section-header {
        @include type-kit ($font-l, calc(2.5vw), $font-xl, $lineH-m, calc(1rem + 2.5vw), $lineH-l, $font-bold)
    }

// Subheader Mobile to Desktop
    @mixin subheader {
        @include type-kit ($font-m, 2vw, $font-l, $lineH-s, calc(0.5rem + 2vw), $lineH-m, $font-demi)
    }

// Body Copy
    @mixin body-copy {
        @include type-kit ($font-s, 2vw, $font-m, $lineH-xxs, calc(0.5rem + 2vw), $lineH-s, $font-reg)
    }

// Footer Copy
    @mixin footer-copy {
        @include type-kit ($font-s, 2vw, $font-m, $lineH-xxs, calc(0.5rem + 2vw), $lineH-xs, $font-reg)
    }

// Labels & Buttons
    @mixin labels-buttons {
        @include type-kit ($font-xxs, 2vw, $font-xs, $lineH-xs, calc(0.5rem + 2vw), $lineH-xs, $font-bold)
    }
