@use "functions" as f;
@use "breakpoints" as b;

@font-face {
    font-family: "Avenir";
    src: url("../assets/font/AvenirNextLTPro-Bold.otf") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Avenir";
    src: url("../assets/font/AvenirNextLTPro-Demi.otf") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Avenir";
    src: url("../assets/font/AvenirNextLTPro-Regular.otf") format("woff2");
    font-weight: 400;
}

// Font Family
    $font: "Avenir", sans-serif;

// Font weight
    $font-bold: 700;
    $font-demi: 600;
    $font-reg: 400;

// Font Size
    $font-2xl: f.px-to-rem(60);
    $font-xl: f.px-to-rem(36);
    $font-l: f.px-to-rem(24);
    $font-m: f.px-to-rem(14);
    $font-s: f.px-to-rem(13); 
    $font-xs: f.px-to-rem(12);
    $font-xxs: f.px-to-rem(10);
    
// Line Height 
    $lineH-xl: f.px-to-rem(68);
    $lineH-l: f.px-to-rem(44);
    $lineH-m: f.px-to-rem(32);
    $lineH-s: f.px-to-rem(22);
    $lineH-xs: f.px-to-rem(20);
    $lineH-xxs: f.px-to-rem(18);

.heading1 {
    font-size: $font-l;
    line-height: $lineH-m;
    font-weight: $font-bold;

    @include b.breakpoint(tablet) {
        font-size: $font-2xl;
        line-height: $lineH-l;
    }
}

.heading2 {
    font-size: $font-l;
    line-height: $lineH-m;
    font-weight: $font-bold;

    @include b.breakpoint(tablet) {
        font-size: $font-xl;
        line-height: $lineH-xl;
    }
}

.subheader {
    font-size: $font-m;
    line-height: $lineH-s;
    font-weight: $font-demi;

    @include b.breakpoint(tablet) {
        font-size: $font-l;
        line-height: $lineH-m;
    }
}

.body-copy {
    font-size: $font-s;
    line-height: $lineH-xxs;
    font-weight: $font-reg;

    @include b.breakpoint(tablet) {
        font-size: $font-m;
        line-height: $lineH-s;
    }
}

.footer-copy {
    font-size: $font-s;
    line-height: $lineH-xxs;
    font-weight: $font-reg;

    @include b.breakpoint(tablet) {
        font-size: $font-m;
        line-height: $lineH-xs;
    }
}

.labels-buttons {
    font-size: $font-xxs;
    line-height: $lineH-xs;
    font-weight: $font-bold;

    @include b.breakpoint(tablet) {
        font-size: $font-xs;
        line-height: $lineH-xs;
    }
}