@use "partials" as p;

.hero {
    background: url('../../assets/images/hero-bio.jpg');
    width: 100%;
    height: p.px-to-rem(185);
    background-size: cover;

    @include p.breakpoint(tablet) {
        height: p.px-to-rem(435);
    }

    &__overlay {
        width: 100%;
        height: 100%;
        background-color: p.$text-color--dark-50op;
        display: flex;
        align-items: center;

        @include p.breakpoint(tablet) {
            flex-direction: row;
        }
    }

    &__container {
        @include p.section-layout;
    }

    &__heading {
        color: p.$text-color--light;
    }
}

.about {
    @include p.section-layout;
    @include p.component-gap;
    @include p.section-padding;

    &__container {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: p.$size-s;
        padding: 0;

        max-width: p.px-to-rem(1000);

        @include p.breakpoint(tablet) {
            padding-inline: p.$size-2xl;
            gap: p.$size-m;
        }
    }

    &__img {
        width: 100%;
        object-fit: cover;
        max-height: p.px-to-rem(150);

        @include p.breakpoint(tablet) {
            max-height: p.px-to-rem(300);
        }

        @include p.breakpoint(desktop) {
            max-height: p.px-to-rem(450);
        }
    }

    &__caption {
        @extend .subheader;
        padding-bottom: p.$size-xs;
    }

    &__caption:nth-last-of-type(1) {
        font-size: p.$font-m;
    }

    &__copy-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: p.$size-s;

        @include p.breakpoint(tablet) {
            grid-template-columns: 1fr 1fr;
        }
    }
}

.gallery {
    background-color: p.$secondary-color--light;
    
    &__container {
        @include p.section-layout;
        @include p.component-gap;
        @include p.section-padding;
    }

    &__img-list {
        display: grid;
        grid-template-columns: auto;
        gap: p.$size-m;
        
        @include p.breakpoint(tablet) {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: p.$size-m;
        }
    }

    &__img {
        object-fit: cover;
        width: 100%;
        filter: grayscale(100%);

        &:hover {
            filter: revert;
            cursor: pointer;
        }
    }
}

.comments {
    @include p.section-layout;
    @include p.component-gap;
    @include p.section-padding;

    &__container {
        display: flex;
        flex-direction: column;
        gap: p.$size-s;
        padding: 0;

        align-items: center;

        @include p.breakpoint(tablet) {
            padding-inline: p.$size-2xl;
            gap: p.$size-m;
        }
    }

    .form {
        display: grid;
        grid-template-columns: clamp(p.px-to-rem(36), 7vw, p.px-to-rem(48)) auto;
        grid-template-rows: auto;
        width: min(100%, p.px-to-rem(500));
        flex: 1;
        gap: p.$size-s;
        align-items: flex-end;

        &__img {
            width: clamp(p.px-to-rem(36), 7vw, p.px-to-rem(48));
            height: clamp(p.px-to-rem(36), 7vw, p.px-to-rem(48));
            border-radius: 50%;
            object-fit: cover;
        }

        &__input {
            display: flex;
            flex-direction: column;
            gap: p.$size-xxs;
            width: 100%;

            &-label {
                @extend .labels-buttons;
                font-weight: p.$font-demi;
                color: p.$text-color--grey;
                text-transform: uppercase;
            }

            &-element {
                border-radius: 4px;
                border: 1px solid p.$secondary-color--grey;
                padding: 0 clamp(p.$size-xs + p.$size-xxs, 3vw, p.$size-s);
                color: p.$text-color--dark;
                font-family: inherit;
                background-color: p.$secondary-color--light;

                &:is(input) {
                    height: clamp(p.px-to-rem(36), 7vw, p.px-to-rem(48));
                }

                &:is(textarea) {
                    height: p.px-to-rem(120);
                    padding-block: clamp(p.$size-xs + p.$size-xxs, 3vw, p.$size-s);
                }
            }
        }

        &__button {
            @include p.primary-button;
        }

        &__grid-container {
            grid-column-start: 2;
            display: flex;
            flex-direction: column;
            gap: p.$size-s;
            align-items: flex-end;
        }
    }

    .comment {
        display: flex;
        width: min(100%, p.px-to-rem(500));
        gap: p.$size-s;
        

        &__img {
            @extend .form__img;
            background-color: p.$secondary-color--grey;
            flex-shrink: 0;
        }

        &__body {}

        &__wrapper {}

        &__author {}

        &__date {}

        &__text {}
    }


}



